# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*.ipynb

# results & logs (customize as needed)
results/
*.log

# Environment files
.env
.venv
env/
venv/
ENV/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db